<!-- account.html -->
{% extends 'account/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div id="checkIsLog">{{ user.username }}</div>
    {% endif %}

        <div id="logout-div">
            <h2 id="log-as">Logged as {{ user.username }}</h2>
            {% csrf_token %}
            <button class="logout-button" type="submit">log out</button>
            <pre id="logout-error-msg"></pre>
        </div>

        <div id="login-div">
            <h2>Login</h2>
            <form method="post" id="login-form">
            {{ form.as_p }}
            </form>
            <button class="login-button">log in</button>
            <pre id="login-error-msg"></pre>
        </div>
    
{% endblock %}