<!-- account/ajax-base.html -->
{% comment %} done with https://www.youtube.com/watch?v=QDdLvImfq_g {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block style %}
            <link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}"/>
        {% endblock %}
    </head>
    <body>
        <div style="display: flex; justify-content: space-between;">
            <div>
                {% block left %}{% endblock %}
            </div>
            <div>
                {% block right %}{% endblock %}
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'account/ajax-main.js' %}"></script>
    </body>
</html>