<!-- chat-home.html -->
{% extends 'chat/chat-base.html' %}

{% block title %}HomeChat{% endblock %}

{% block content %}
<div id="chat-home-div">
    <h2>Rooms</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Label</th>
            </tr>
        </thead>
        <tbody>
            {% for room in object_list %}
                <tr>
                    <td>{{ room.id }}</td>
                    <td><a href="{% url 'room-into' room.id %}">{{ room.name }}</a></td>
                    <td>{{ room.label }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'login' %}">go to Account</a></p>
</div>
{% endblock %}