<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <h1>Chat Room</h1>
    <h2>{{ room_name }}</h2>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <br/>
    <ul id="user-list"></ul>
    {{ room_name|json_script:"room-name" }}
    {{ username|json_script:"user-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const userName = JSON.parse(document.getElementById('user-name').textContent);
       
        function scrollToBottom() {
            const chatLog = document.getElementById('chat-log');
            chatLog.scrollTop = chatLog.scrollHeight;
        }


        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function(e) {
            document.querySelector('#chat-log').value = '';
        };
        chatSocket.onmessage = function(e) {
            if (e.data == "")
            const data = JSON.parse(e.data);
            if (data.type === 'user_update') {
                const connectedUsers = data.users;
                updateConnectedUsersList(connectedUsers);
                console.log("list")
                console.log(connectedUsers)
             } else {
                 document.querySelector('#chat-log').value += (data.message + '\n');
                 scrollToBottom()
             }
        };

        chatSocket.onclose = function(e) {
            /*chatSocket.send(JSON.stringify({
                'command': 'user_connected'
            }));*/
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': userName + ': ' + message
            }));
            messageInputDom.value = '';
        };

        function updateConnectedUsersList(users) {
            console.log("Received users data:", users);
            const userListContainer = document.getElementById('user-list');
            userListContainer.innerHTML = '';

            users.forEach(user => {
                const userItem = document.createElement('li');
                userItem.textContent = user.username;
                console.log("user added in list = ", user.username)
                userListContainer.appendChild(userItem);
            });
        }

        setInterval(function() {
            updateConnectedUsersList()
        }, 500);
    </script>
</body>
</html>
